---
const { images = [] } = Astro.props;
---

{images.length > 0 && (

    <section class="mt-10">
        <h2 class="text-xl font-semibold mb-4">Галерея</h2>

        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {images.map((img) => (
                    <a href={img} target="_blank">
                        <img
                                src={img}
                                class="rounded-lg object-cover w-full h-40 hover:scale-105 transition"
                        />
                    </a>
            ))}
        </div>
    </section>

)}