---
const { profession } = Astro.props;
---

<section class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900">
        {profession.title}
    </h1>

    <p class="text-gray-600 mt-2">
        {profession.shortDescription}
    </p>
</section>