---
import '../styles/global.css';
import { ClientRouter } from "astro:transitions";

import CartIcon from '../components/vue/CartIcon.vue';

interface Props {
    title: string;
    pageType?: 'home' | 'default';
}
const {title, pageType = 'default'} = Astro.props;

const bodyClass = pageType === 'home' ? 'bg-home' : 'bg-default';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{title}</title>
    <ClientRouter />
</head>
<body class={`${bodyClass} min-h-screen`}>

<header class="fixed top-0 w-full z-50 p-6 flex justify-between items-center backdrop-blur-md transition-all duration-300">

    <div>
        {pageType !== 'home' && (
                <a href="/" class="">
                    <img
                            src="/img/Wax-seal.png"
                            alt="Wax Seal"
                            class="p-0 m-0 w-[32px] md:w-[48px] lg:w-[50pax] opacity-90 transition-transform duration-500 hover:scale-110 ease-in-out z-0"
                    />
                </a>
        )}
    </div>

    <nav class="flex items-center gap-8">

        <CartIcon client:load/>

    </nav>

</header>

<slot/>

</body>
<script src="https://js.stripe.com/v3/"></script>
</html>