version: '3'

services:
  all-lendings:
    image: nginx:alpine
    container_name: all-lendings-combined
    ports:
      - "8091:8091"
      - "8092:8092"
      - "8093:8093"
      - "8094:8094"
    volumes:
      - ./combined.conf:/etc/nginx/conf.d/default.conf:ro

      - ./src/owl-solution:/usr/share/nginx/html/owl-solution:ro
      - ./src/dynamic-ui-bridge:/usr/share/nginx/html/dynamic-ui-bridge:ro
      - ./src/real-time-speech-translator:/usr/share/nginx/html/real-time-speech-translator:ro
      - ./src/vlasiuk-me:/usr/share/nginx/html/vlasiuk-me:ro