---
import Layout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from "../components/Projects.astro";
import Connect from "../components/Connect.astro";

const company_name = "Targeted Solutions for Business"
const about_content = "<p>Targeted Solutions for Business is the U.S.-based umbrella company behind Uptarget.Co and several breakthrough technology ventures.</p>\n" +
    "                <p>Founded by Dr. Olena Vlasiuk, TSB is a corporation that operates and invests in software services and next-generation technology platforms.</p>\n" +
    "                <p>With a foundation in science and business, we build solutions that address critical challenges in automation, accessibility, and digital transformation.</p>"
---

<Layout title="TSB Enterprise | Building Applied Innovation">
    <Navbar />
    <main>
        <Hero
                company_name={company_name}
                hero_title="Building Applied Innovation"
                hero_subtitle="TSB Enterprise is the U.S.-based umbrella company behind Uptarget and several breakthrough technology ventures — combining scientific depth, entrepreneurial drive, and real-world impact, from custom software to smart platforms."
        />
        <About
                about_content={about_content}
        />
        <Projects />
        <Connect />
    </main>
</Layout>