---
const { title, description } = Astro.props;
---
<section class="hero relative z-10 min-h-screen flex flex-col justify-center px-6 md:px-8">
    <div class="hero-content">
        <h2 class="text-5xl md:text-7xl font-semibold leading-tight max-w-4xl drop-shadow-lg">Eyes on your devices,<br class="hidden md:block">brains in the cloud.</h2>
        <p class="mt-6 mb-12 max-w-xl text-gray-300 text-lg md:text-xl">A powerful platform for automating your assets, from a single device to a global network.</p>
        <a href="#contact" class="bg-indigo-600 hover:bg-indigo-500 px-10 py-4 rounded-lg text-lg font-semibold transition transform hover:scale-105">Request a Demo</a>
    </div>
</section>