---

const title = `Careers`
const content = `Find out your new career opportunity and grow as a specialist.`
---
<section class="careers relative py-0 bg-white overflow-hidden mt-[120px]">
    <div class="relative z-30 max-w-5xl mx-auto px-6 text-center mb-16">
        <h2 class="text-6xl font-bold text-[#1a1a1c] mb-6" set:html={title}></h2>
        <p class="text-xl text-[#1a1a1c]/80 mb-8 max-w-lg mx-auto" set:html={content}></p>
        <a href="/careers" class="inline-block bg-white border-2 border-black text-black px-10 py-5 rounded-full font-bold uppercase transition hover:bg-black hover:text-white">
            see offers
        </a>
    </div>

    <div class="relative w-full max-w-3xl mx-auto h-[400px] md:h-[500px] flex justify-center items-center z-20">
        <img
                src="/img/Career-Pavlon.webp"
                alt="Team Member 1"
                class="absolute left-[20%] md:left-[5%] w-[45%] z-10"
        />
        <img
                src="/img/Career-Arthur.webp"
                alt="Team Member 2"
                class="absolute right-[10%] md:right-[15%] w-[45%] z-20"
        />
    </div>

    <img
            src="/img/Ladder.svg"
            alt="Ladder"
            class="absolute bottom-0 left-0 w-full h-auto object-contain z-0 pointer-events-none opacity-80"
    />
</section>