---
import cultureItems from '../data/culture.json';
---

<section class="culture flex flex-col items-center overflow-hidden py-0 px-4">
    <h2 class="culture-title font-['Unbounded'] font-semibold text-center text-[24px] md:text-[46px] lg:text-[56px] 2xl:text-[66px] mb-6 md:mb-10">
        Our Culture
    </h2>
    <p class="culture-text text-center text-[16px] md:text-[18px] 2xl:text-[22px] max-w-[780px] mb-10 md:mb-20 text-gray-600">
        Our mission is to enable talented people to realise their potential. We build long-term partnering relationships with our people and our clients. The principles we share within the team are important, they are the foundation of our cooperation and communication:
    </p>

    <div class="culture-grid flex flex-col w-full
        max-w-[1120px]
        2xl:max-w-[1420px]

        gap-[14px] xl:gap-[20px] mb-[60px] xl:mb-[120px] 2xl:mb-[180px] px-5 xl:px-0">
        {cultureItems.map((item, index) => {
            const isReverse = index % 2 !== 0;

            return (
                    <div class={`relative flex flex-col xl:flex-row w-full h-auto xl:h-[400px] 2xl:h-[500px] bg-[#f4f4f4] ${isReverse ? 'xl:flex-row-reverse' : ''}`}>

                        <div class="relative w-full xl:w-1/2 flex items-center justify-end bg-[#ffdd00cc] overflow-hidden min-h-[280px] xl:min-h-0">
                            <img src={item.image} class="absolute inset-0 w-full h-full object-cover opacity-20 z-[1]" alt="" />

                            <h3 class="culture-item-title relative z-[5] w-full text-center xl:text-right font-semibold text-[28px] xl:text-[50px] leading-[32px] xl:leading-[72px] xl:px-[80px]">
                                {item.title}
                            </h3>
                        </div>

                        <div class="w-full xlw-1/2 flex items-center justify-center relative py-10 xlpy-0">
                            <p class="culture-description opacity-80 font-normal leading-[22px] xl:leading-[28px] text-[16px] xl:text-[22px] text-left xl:text-center w-full m-[24px_28px] xl:m-[0_100px]">
                                {item.text}
                            </p>
                        </div>

                        <img src="/img/Rays-Culture.svg"
                             class={`absolute z-[2] w-[254px] h-[254px] xl:w-[456px] xl:h-[456px] top-1/2 -translate-y-1/2 
                         ${isReverse ? 'left-[-127px] xl:left-[-228px]' : 'right-[-127px] xl:right-[-228px]'}`}
                             alt="" />

                        <div class={`absolute z-[3] rounded-full bg-[rgb(255,87,0)] w-[34px] h-[34px] xl:w-[56px] xl:h-[56px] top-1/2 -translate-y-1/2
                         ${isReverse ? 'xl:right-[-28px]' : 'xl:left-[-28px]'}`}></div>
                    </div>
            );
        })}
    </div>
</section>

<style>

    .culture-description {
        margin: 40px 60px
    }
    @media (min-width: 768px) {
        .culture-description {
            margin: 0 100px;
        }
    }

</style>