---
// src/components/RecruitSection.astro

---

<div class="recruit-container py-16 px-6 bg-[#fd0] md:bg-white">
    <div class="recruit-box max-w-4xl mx-auto bg-[#fd0] md:rounded-full p-8 md:p-12 flex flex-col md:flex-row md:items-center justify-between gap-8">

        <div class="div-block-2 flex items-center gap-6">
            <img src="/img/UserPlus.svg"
                 alt="Join us"
                 class="user-icon w-[54px] h-[54px] object-contain shrink-0" />

            <div class="recruit-headline text-xl lg:text-3xl font-bold text-[#1a1a1c]">
                Want to be a part of our team?
            </div>
        </div>

        <a href="/careers"
           class="button-m-outline inline-block text-center border-2 border-[#1a1a1c] text-[#1a1a1c] font-bold py-3 px-8 rounded-full transition-all hover:bg-[#1a1a1c] hover:text-white">
            see offers
        </a>
    </div>
</div>